* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: rgb(22, 21, 21);
}

header div ul {
  background-color: rgb(22, 21, 21);
  border-radius: 1.5rem;
}
header ul li a {
  font-size: 20px !important;
}
header ul li a:hover {
  color: darkred !important;
}
header a:hover {
  color: darkred;
}
header .img-nav {
  width: 190px;
  height: 190px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
header .mi-bg {
  background-image: url("../../multimedia/imagenes/garaje2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  height: 14rem;
}

.fondo {
  background: url("../../multimedia/imagenes/llaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}
.fondo .grid-container {
  display: grid;
  width: 96%;
  height: 20rem;
  gap: 8px;
  margin-top: 8rem;
  grid-template-areas: "grid-img grid-p";
}
.fondo .grid-img {
  grid-area: grid-img;
}
.fondo .grid-p {
  grid-area: grid-p;
  grid-column: 2/3;
  display: flex;
  align-items: center;
}
.fondo .img-nosotros {
  width: 27rem;
  height: auto;
  border: 4px solid darkred;
  margin-left: 20px;
  transition: all 1s;
}
.fondo .img-nosotros:hover {
  transform: scale(1.05);
}
.fondo .nosotros {
  font-size: 35px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
}
.fondo p {
  font-size: 15px;
  color: #fff;
  margin-left: 30px;
}

.fondo-servicios {
  background-image: url("../../multimedia/imagenes/fondo-servicios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.fondo-servicios .servicios {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
}
.fondo-servicios .img-uno, .fondo-servicios .img-dos {
  border: 4px solid darkred;
  height: auto;
  width: 27rem;
  transition: all 1s;
  display: flex;
  justify-content: center;
}
.fondo-servicios .transform:hover {
  transform: scale(1.05);
}
.fondo-servicios .grid-servicios {
  display: grid;
  width: 90%;
  max-width: 2500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 25px auto;
  gap: 20px;
  grid-template-areas: "img-uno img-dos" "p-uno p-dos";
}
.fondo-servicios .img-uno {
  grid-area: img-uno;
}
.fondo-servicios .img-dos {
  grid-area: img-dos;
}
.fondo-servicios .p-uno {
  grid-area: p-uno;
}
.fondo-servicios .p-dos {
  grid-area: p-dos;
}
.fondo-servicios .flex {
  display: flex;
  justify-content: center;
}
.fondo-servicios video {
  width: 60rem;
  margin-bottom: 1rem;
}
.fondo-servicios p {
  color: #fff;
}

footer {
  background-color: rgb(22, 21, 21);
  height: 70vh;
}
footer .info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
footer .footer-consulta {
  display: flex;
  text-align: start;
  color: #fff;
  font-size: 35px;
}
footer .formulario-flex {
  display: flex;
  justify-content: space-evenly;
}
footer iframe {
  width: 550px;
  height: 410px;
  border: 4px solid darkred;
  margin-top: 35px;
}
footer .ubicacion {
  margin-top: 10px;
}
footer .form {
  display: flex;
  border: 3px solid darkred;
  margin-bottom: 10px;
  width: 550px;
  height: 55px;
  font-size: 20px;
}
footer .consulta {
  height: 80px;
}
footer .enviar {
  width: 550px;
  height: 55px;
  background-color: darkred;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  header .img-nav, footer .img-nav, .fondo .img-nav, .fondo-servicios .img-nav {
    width: 150px;
    height: 150px;
    margin-top: 0.5rem;
  }
  header ul li a, footer ul li a, .fondo ul li a, .fondo-servicios ul li a {
    font-size: 12px !important;
  }
  header .img-nosotros, footer .img-nosotros, .fondo .img-nosotros, .fondo-servicios .img-nosotros {
    width: 20rem;
  }
  header .nosotros, footer .nosotros, .fondo .nosotros, .fondo-servicios .nosotros {
    font-size: 29px;
  }
  header p, footer p, .fondo p, .fondo-servicios p {
    font-size: 12px;
    margin-bottom: 90px;
  }
  header .servicios, footer .servicios, .fondo .servicios, .fondo-servicios .servicios {
    font-size: 29px;
  }
  header .img-uno, header .img-dos, footer .img-uno, footer .img-dos, .fondo .img-uno, .fondo .img-dos, .fondo-servicios .img-uno, .fondo-servicios .img-dos {
    width: 20rem;
  }
  header .p-uno, header .p-dos, footer .p-uno, footer .p-dos, .fondo .p-uno, .fondo .p-dos, .fondo-servicios .p-uno, .fondo-servicios .p-dos {
    font-size: 12px;
  }
  header video, footer video, .fondo video, .fondo-servicios video {
    width: 48rem;
    margin-bottom: 1rem;
  }
  header iframe, footer iframe, .fondo iframe, .fondo-servicios iframe {
    width: 300px;
    height: 310px;
  }
  header .ubicacion, footer .ubicacion, .fondo .ubicacion, .fondo-servicios .ubicacion {
    margin-top: 4rem;
  }
  header .container-form, footer .container-form, .fondo .container-form, .fondo-servicios .container-form {
    margin-top: 2rem;
  }
  header .enviar, footer .enviar, .fondo .enviar, .fondo-servicios .enviar {
    width: 320px;
    height: 55px;
  }
  header .form, footer .form, .fondo .form, .fondo-servicios .form {
    width: 320px;
    height: 55px;
  }
}

@media screen and (max-width: 780px) {
  header .img-nav, footer .img-nav, .fondo .img-nav, .fondo-servicios .img-nav {
    width: 100px;
    height: 100px;
    margin-top: 0.5rem;
  }
  header ul li a, footer ul li a, .fondo ul li a, .fondo-servicios ul li a {
    font-size: 9px !important;
  }
  header .img-nosotros, footer .img-nosotros, .fondo .img-nosotros, .fondo-servicios .img-nosotros {
    display: none;
  }
  header .grid-servicios, footer .grid-servicios, .fondo .grid-servicios, .fondo-servicios .grid-servicios {
    height: 75rem;
    grid-template-columns: 300px;
    justify-content: center;
    text-align: center;
    grid-template-areas: "img-uno" "p-uno" "img-dos" "p-dos";
  }
  header .img-uno, header .img-dos, footer .img-uno, footer .img-dos, .fondo .img-uno, .fondo .img-dos, .fondo-servicios .img-uno, .fondo-servicios .img-dos {
    height: 15rem;
    width: 17rem;
    margin-top: 1rem;
  }
  header video, footer video, .fondo video, .fondo-servicios video {
    display: none;
  }
  header .fondo-servicios, footer .fondo-servicios, .fondo .fondo-servicios, .fondo-servicios .fondo-servicios {
    height: 140vh;
  }
  header .img-uno, footer .img-uno, .fondo .img-uno, .fondo-servicios .img-uno {
    grid-area: img-uno;
  }
  header .img-dos, footer .img-dos, .fondo .img-dos, .fondo-servicios .img-dos {
    grid-area: img-dos;
  }
  header .p-uno, footer .p-uno, .fondo .p-uno, .fondo-servicios .p-uno {
    grid-area: p-uno;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  header .p-dos, footer .p-dos, .fondo .p-dos, .fondo-servicios .p-dos {
    grid-area: p-dos;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  header .formulario-flex, footer .formulario-flex, .fondo .formulario-flex, .fondo-servicios .formulario-flex {
    display: grid;
    height: 50vh;
  }
  header footer, footer footer, .fondo footer, .fondo-servicios footer {
    height: 105vh;
  }
  header .ubicacion, footer .ubicacion, .fondo .ubicacion, .fondo-servicios .ubicacion {
    margin-left: 10px;
  }
  header .mi-bg, footer .mi-bg, .fondo .mi-bg, .fondo-servicios .mi-bg {
    padding-bottom: 15rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
