
@import "../base/variables";
@import "../base/mixins";

footer{
    background-color: $bg-principal;
    height: 70vh;

    .info{
        font-size: 40px;
        color: $color-secundario;
        text-align: center;
    }
    
    .footer-consulta{
        @include footer(35px, start, flex, $color-secundario);
    }
    
    .formulario-flex{
        display: flex ;
        justify-content: space-evenly;
    }
    
    iframe{
        @include footer-info(0,4px solid $color-principal,550px,410px,0,0,0);
        margin-top: 35px;
    }
    
    .ubicacion{
        margin-top: 10px;
    }
    
    .form{
        margin-bottom: 10px;
        @include footer-info(20px, 3px solid $color-principal, 550px, 55px, flex,0,0);
    }
    .consulta{
        height: 80px;
    }
    
    .enviar{
        background-color: $color-principal;
        cursor: pointer;
        @include footer-info(20px,0,550px,55px,0,$color-principal,0);
    }
}
    
