
header, footer, .fondo, .imagenes, .fondo-servicios{
    @media screen and (min-width: 993px) and (max-width: 1200px) {
    
        //------- nosotros -------//
        .img-nosotros{
            width: 22rem;
        }
        
        .nosotros{
            font-size: 30px;
        }
    
        .grid-p{
            font-size: 14px;
            margin-bottom: 55px;
        }
    
        //------- servicios -------//
        .servicios{
            font-size: 30px;
        }
    
        .img-uno, .img-dos{
            width: 22rem;
        }
    
        .p-uno, .p-dos{
            font-size: 14px;
        }
    
        video{
            width: 52rem;
            margin-bottom: 1rem;
        }
        
        //------- footer -------//

        iframe{
            width: 400px; 
            height: 380px;
        }
    
        .enviar{
            width: 400px;
            height: 55px;
        }
    
        .form{
            width: 400px;
            height: 55px;
        }

    }
}

header, footer, .fondo, .imagenes, .fondo-servicios{
    @media screen and (min-width: 768px) and (max-width: 992px) {
        
        //------- carousel -------//
        .altura{
            height: auto !important;
        }

        //------- header -------//
        .img-nav{
            width: 150px;
            height: 150px;
            margin-top: 0.5rem;
        }
        
        ul li{
            padding: 0rem 1.7rem;
        }
        
        //------- nosotros -------//
        .img-nosotros{
            width: 20rem;
        }
        
        .nosotros{
            font-size: 29px;
        }
    
        
        .grid-p{
            font-size: 13px;
            margin-bottom: 90px;
        }
    
        //------- servicios -------//
        .servicios{
            font-size: 29px;
        }
    
        .img-uno, .img-dos{
            width: 20rem;
        }
    
        .p-uno, .p-dos{
            font-size: 13px;
        }
    
        video{
            width: 45rem;
            margin-bottom: 1rem;
        }
    
        //------- footer -------//
        iframe{
            width: 300px; 
            height: 310px;
        }
    
        .ubicacion{
            margin-top: 4rem;
        }
    
        .container-form{
            margin-top: 2rem;
        }
        .enviar{
            width: 320px;
            height: 55px;
        }
    
        .form{
            width: 320px;
            height: 55px;
        }
    }
}

header, footer, main,.fondo, .imagenes, .fondo-servicios{
    @media screen and (min-width: 360px) and (max-width: 767px) {
    
        //------- copy -------//
        .derechos{
            margin-top: 20rem;
        }

        .derechos h2{
            font-size: 14px;
            padding-top: 4px;
        }

        //------- carousel -------//
        .altura{
            height: auto !important;
        }

        //------- header -------//
        .img-nav{
            width: 100px;
            height: 100px;
            margin-top: 0.5rem;
        }
    
        //------- footer -------//
        .info{
            font-size: 30px;
        }
    
        //------- nosotros -------//
        .nosotros{
            font-size: 24px;
            padding-top: 2px;
        }
    
        .img-nosotros{
            display: none;
        }
        
        .grid-container{
            margin-top: 1.5rem;
        }

        .grid-p{
            font-size: 14px;
        }
    
        .fondo{
            height: auto;
        }

        //------- servicios -------//
        .servicios{
            font-size: 24px;
            padding-top: 20px;
        }
    
        .grid-servicios{
            height: 75rem;
            grid-template-columns: 300px;
            justify-content: center;
            
            text-align: center;
            grid-template-areas: "img-uno"
                                 "p-uno"
                                 "img-dos"
                                 "p-dos";
        }
    
        .img-uno, .img-dos{
            height: 14rem;
            width: 16rem;
            margin-top: 1rem;
        }
    
    
        .p-uno, .p-dos{
            font-size: 14px;
            margin-left: 14px;
        }
    
        video{
            display: none;
        }
        .fondo-servicios{
            height: 140vh;
        }
        .img-uno{
            grid-area: img-uno;
        }
        .img-dos{
            grid-area: img-dos;
            
        }
        .p-uno{
            grid-area: p-uno;
            margin-right: 1.5rem;
            margin-bottom: 0;
            
        }
        .p-dos{
            grid-area: p-dos;
            margin-right: 1.5rem;
            margin-bottom: 0;
        }
    
        //------- footer -------//
        .formulario-flex{
            display: grid;
            height: 50vh;
        }
    
        .footer-consulta{
            font-size: 24px;
        }

        .container-form{
            margin-top: 25px;
        }
    
        .enviar{
            width: 300px;
            height: 55px;
        }
    
        .form{
            width: 300px;
            height: 55px;
        }
    
        iframe{
            width: 300px; 
            height: 310px;
        }
    }   
}























