
@import "../base/variables";
@import "../base/mixins";

.fondo{
    background-image: url('../../multimedia/imagenes/llaves.jpg');
    height: 65vh;
    @include fond(no-repeat,cover,0);


    .grid-container{
        @include main(grid, 96%, 20rem,0,0,0,0);
        gap: 8px;
        margin-top: 8rem;
        grid-template-areas: 
        'grid-img grid-p';
        
    }
    .grid-img{
        grid-area: grid-img;
        
    }
    
    .grid-p{
        grid-area: grid-p;
        grid-column: 2/3;
        display: flex;
        align-items: center;
    }

    
    .img-nosotros{
        @include main(0,27rem,auto,4px solid $color-principal,0,0,0);
        margin-left: 20px;
        transition: all 1s;
    }
    .img-nosotros:hover{
        transform: scale(1.05);
    }
    
    .nosotros{
        font-size: 35px;
        color: $color-secundario;
        display: flex;
        justify-content: center;
        font-weight: bold;
        text-decoration: none;
        
    }
    p{
        font-size: 15px;
        color: $color-secundario;
        margin-left: 30px;
    }
}

    
