
    @import "../base/variables";
    @import "../base/mixins";

    .fondo-servicios{
        background-image: url('../../multimedia/imagenes/fondo-servicios.jpg');
        @include fond(no-repeat, cover, center center);

        .servicios{
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            color: $color-secundario;
            text-decoration: none;
        }
        
        .img-uno, .img-dos{
            @include main(flex, 27rem, auto, 4px solid $color-principal, center,0,0);
            transition: all 1s;
        }
        
        .transform:hover{
            transform: scale(1.05);
        }
        
        .grid-servicios{
            display: grid;
            width: 90%;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,auto);
            margin: 25px auto;
            gap: 20px;
            grid-template-areas: "img-uno img-dos"
                                 "p-uno p-dos";
        }
        
        .img-uno{
            grid-area: img-uno;
        }
        .img-dos{
            grid-area: img-dos;
        }
        .p-uno{
            grid-area: p-uno;
            
        }
        .p-dos{
            grid-area: p-dos;
            
        }
        .flex{
            display: flex;
            justify-content: center;
            
        }
        video{
            width: 60rem;
            margin-bottom: 1rem;
        }
        p{
            color: $color-secundario;
        }
    }
    

